<div class="col-md-8 order-md-1">
  <h4 class="mb-3">Disciplina</h4>
  <form class="needs-validation" novalidate>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="firstName">Matricula_professor</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder=""
          value=""
          required
        />
        <div class="invalid-feedback"></div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">id_disciplina</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder=""
          value=""
          required
        />
        <div class="invalid-feedback"></div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">Carga_horaria</label>
        <input
          type="number"
          class="form-control"
          id="lastName"
          placeholder=""
          value=""
          required
        />
        <div class="invalid-feedback"></div>
      </div>
    </div>
  </form>
</div>
