<div class="col-md-8 order-md-1">
  <h4 class="mb-3">Professor</h4>
  <form
    class="needs-validation"
    novalidate
    [formGroup]="formsProfessor"
    (ngSubmit)="onSubmit()"
  >
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="lastName">Nome</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder=""
          value=""
          required
          formControlName="nome"
        />
        <div class="invalid-feedback"></div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="firstName">Matricula Professor</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder=""
          value=""
          required
          formControlName="matricula_professor"
        />
        <div class="invalid-feedback"></div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">Faculdade</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder=""
          value=""
          required
          formControlName="faculdade"
        />
        <div class="invalid-feedback"></div>
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastName">Disciplina</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder=""
          value=""
          required
          formControlName="faculdade"
        />
        <div class="invalid-feedback"></div>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-lg btn-block"
        [disabled]="!formsProfessor.valid"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
